[Desktop Entry]
Comment=OneShot World Machine Edition by Future Cat Games | theme made off of Commonality Gris by Mark Whittaker
Name=OneShot
X-KDE-PluginInfo-Author=capYT
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=capYT_bussiness@outlook.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=OneShot
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
